@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@700&family=Outfit:wght@700&family=Roboto:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    flex-grow: 1;
    font-family: 'Hanken Grotesk',sans-serif;
   min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.432);
}

main{
    padding: 1rem;

}

.main-container{
    display: flex;
    flex-grow: 1;
    max-width: 650px;
background-color: white;
border-radius: 25px;
flex-wrap: wrap;
}

.first-box{
    color: white;
    max-width: min(100%,50%);
    height: auto;
    border-radius: 25px;
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

.circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    margin-top: 1rem;
    margin-bottom: 1.8rem;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    line-height: 1.1;
}
.result{
    font-size: 1.3rem;
 margin-top: 2rem;
    margin-bottom: 0.8rem;
    color: rgba(255, 255, 255, 0.69);
}

.large-num{
    font-size: 4rem;
    font-weight: bolder;
}
.hun{
    color: rgba(255, 255, 255, 0.329);
}
.great{
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
}


.first-box p{
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.61);

}

p{
    width: 70%;
 font-size: 1.125rem;
 text-align: center;
 margin-bottom: 3rem;
}

h2{
    margin-top: 1.7rem;
    margin-bottom: 0.8rem;
    color: hsl(224, 30%, 27%);
}


.second-box{
    max-width: min(100%,50%);
    
    padding-left:2rem ;
  padding-right: 1.7rem;
    padding-top: 0.3rem;
    display: flex;
   border-radius: 25px;
    flex: 1;
    flex-direction: column;
    background-color: white;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    margin-top: 3.5rem;
    margin-bottom: 3rem;
    gap: 1rem;
 }
 
 li{
     list-style: none;
     display: flex;
     justify-content: space-between;
 }
 

.reaction, .memory, .verbal, .visual{
  display: flex;
  justify-content: space-between;
  border-radius: 11px;
  padding: 1rem;
  gap: 0.5rem;
}

.reaction{
    background-color: hsla(0, 100%, 67%, 0.09);
}
.memory{
    background-color: hsl(39, 100%, 56%,0.09);
}
.verbal{
    background-color: hsl(166, 100%, 37%,0.09);
}
.visual{
    background-color: hsl(234, 85%, 45%,0.09);
    margin-bottom: 2rem;
}

button{
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 27px;
    font-size: 1rem;
    background-color: hsl(224, 30%, 27%);
    color: white;
}

    button:hover, button:active{
     background-image: linear-gradient(hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    }

   .red{
    display: flex;
    color:hsla(0, 100%, 67%, 0.87) ;
   }
   .orange{
    display: flex;
    color:hsla(39, 100%, 56%, 0.87) ;
   }
   .green{
    display: flex;
    color:hsla(166, 100%, 37%, 0.87) ;
   }
   .blue{
    display: flex;
    color:hsla(234, 85%, 45%, 0.87) ;
   }
   img{
    margin-right:0.5rem ;
   }
.light{
    color: hsla(224, 30%, 27%, 0.418);
}
.dark{
    color:hsl(224, 30%, 27%);
}

  @media screen and (max-width:658px) {
    .main-container{
        display:flex ;
       flex-direction: column;
       width: 400px;
    }

    .first-box, .second-box{
        max-width: 100%;
    }
    
  }  
